body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	cursor: none;
}

canvas {
	/* image-rendering: optimizeSpeed; */
	/* image-rendering: crisp-edges; */
}
